/* @import url("./view-transition/viewTransition.css");
@import url("./reset.css"); */

@import "tailwindcss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --font-helvetica-neue: "Helvetica Neue", sans-serif;
}

body {
  font-family: var(--font-helvetica-neue);
}

.home-link {
  font-size: clamp(1rem, 3.5vw, 16rem);
  font-weight: semibold;
}

@theme inline {
  --font-helvetica-neue: "Helvetica Neue", sans-serif;
}

.container {
  display: grid;
  min-width: 100vw;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(10, 1fr);
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "logo"
    "header"
    "left-top"
    "left-top"
    "left-down"
    "left-down"
    "right-top"
    "right-top"
    "right-down"
    "right-down";

  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      ". . logo logo . ."
      ". . logo logo . ."
      ". header header header header ."
      ". header header header header ."
      "left-top left-top left-top right-top right-top right-top"
      "left-top left-top left-top right-top right-top right-top"
      "left-down left-down left-down right-down right-down right-down"
      "left-down left-down left-down right-down right-down right-down";
  }

  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas:
      "header header header right-top right-top right-top right-top"
      "header header header right-top right-top right-top right-top"
      "left-top left-top left-top right-top right-top right-top right-top"
      "left-top left-top left-top logo right-down right-down right-down"
      "left-top left-top left-top logo right-down right-down right-down"
      "left-down left-down left-down left-down right-down right-down right-down"
      "left-down left-down left-down left-down right-down right-down right-down"
      "left-down left-down left-down left-down right-down right-down right-down";
  }
}

.header {
  grid-area: header;
  @apply bg-red-300;
}

.left-top {
  grid-area: left-top;
  @apply bg-green-300;
}

.right-top {
  grid-area: right-top;
  @apply bg-blue-300;
}

.logo {
  grid-area: logo;
  @apply bg-yellow-300;
}

.left-down {
  grid-area: left-down;
  @apply bg-purple-300;
}

.right-down {
  grid-area: right-down;
  @apply bg-pink-300;
}
