.main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  position: relative;
}
.item {
  height: 200px;
  width: 400px;
  grid-column-start: 1;
}
.item-1 {
  background-color: lightcoral;
}
.item-2 {
  background-color: lightseagreen;
}
.item-3 {
  background-color: lightblue;
}
.item-4 {
  background-color: lightgoldenrodyellow;
}

.active {
  position: absolute;
  right: 0;
  height: 100%;
}

.match-div {
  view-transition-name: match-element;
}
/* .match span {
  view-transition-name: match-text;
} */
::view-transition-group(*) {
  animation-duration: 1s;
}

html::view-transition-old(*),
html::view-transition-new(*) {
  height: 100%;
}
